<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h2>User Info</h2>
<br>

<form th:action="@{/saveCar}" th:object="${car}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Brand: <input type="text" th:field="*{brand}"/>
    <br><br>
    Model: <input type="text" th:field="*{model}"/>
    <br><br>
    Year: <input type="text" th:field="*{year}"/>
    <br><br>
    <input type="submit" value="OK">

</form>

</body>
</html>
